.about-service {
  padding-top: 35px;
  padding-bottom: 65px;
  background: #141b3b url("../img/about-mobile@1x.png") center top no-repeat;
  background-size: contain;
  color: #ffffff;
  border-radius: 0 0 30px 30px;
  position: relative;
  z-index: 9;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-mobile@2x.png");
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
    padding-bottom: 88px;
    background: #192144;
  }

  @media (min-width: $desktop-width) {
    padding-top: 83px;
    padding-bottom: 0;
    border-radius: 0 0 60px 60px;
  }
}

.about-service__container {
  padding-left: 24px;

  @media (min-width: $tablet-width) {
    padding-top: 44px;
    padding-left: 35px;
    background: url("../img/blue_back.svg") center top no-repeat, #192144;
    background-size: 688px 213px;
    position: relative;

    &::before {
      content: "";
      width: 376px;
      height: 548px;
      position: absolute;
      right: -32px;
      top: 50px;
      background: url("../img/about-tablet@1x.png") 0 0 no-repeat;
      background-size: contain;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      &::before {
        background-image: url("../img/about-tablet@2x.png");
      }
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 71px;
    padding-bottom: 163px;
    padding-top: 44px;
    position: relative;
    background: #192144 url("../img/about-desktop@1x.png") right top no-repeat;

    &::before {
      display: none;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 213px;
      height: 213px;
      border-radius: 20px;
      background-color: #141b3b;
    }

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/about-desktop@2x.png");
    }
  }
}

.about-service__title {
  @media (min-width: $desktop-width) {
    position: relative;
    z-index: 5;
  }
}

.about-service__desc {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-right: 35px;

  @media (min-width: $tablet-width) {
    line-height: 33.4px;
    margin-top: 40px;
    padding-right: 351px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 610px;
    margin-top: 60px;
    position: relative;
    z-index: 5;
  }
}

.about-service__slogan {
  font-weight: 700;
  padding-right: 50px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    margin-top: 35px;
    padding-right: 350px;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    padding-right: 830px;
    margin-top: 38px;
  }
}

.about-service__button {
  display: none;
  padding-right: 126px;

  @media (min-width: $tablet-width) {
    display: inline-block;
    margin-top: 32px;
    padding: 28px 34px;
    padding-right: 125px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    margin-top: 65px;
  }
}
