.button {
  background-color: $yellow-1;
  color: #1d2e5b;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 23px 24px;
  display: block;
  border: none;
  border-radius: 10px;

  @media (min-width: $tablet-width) {
    padding: 29px 34px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
  }
}
