.button {
  background-color: $yellow-1;
  color: #1d2e5b;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 23px 24px;
  display: block;
  border: none;
  border-radius: 10px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 29px 34px;
    font-size: 24px;
    line-height: 24px;
    border-radius: 20px;
  }
}

.button--big::before {
  content: "";
  width: 10px;
  height: 14px;
  background: url("../../img/triangle-arrow-right.svg") 0 0 no-repeat;
  position: absolute;
  top: 50%;
  right: 23px;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    right: 36px;
  }
}

.button:hover {
  background-color: #ffbd30;
}

.button:focus {
  background-color: #ffbd30;
}

.button:focus span,
.button:focus::before {
  opacity: 0.3;
}
