.companions {
  @include section-def;
  background-color: #192144;
  z-index: 7;

  @media (min-width: $tablet-width) {
    padding-top: 198px;
    padding-bottom: 88px;
  }
}

.companions__container {
  @media (min-width: $tablet-width) {
    padding: 0 35px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

.companions__intro {
  @media (min-width: $desktop-width) {
    flex-basis: 630px;
    padding: 0;
  }
}

.companions__desc {
  color: #ffffff;
  margin-top: 20px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    width: 470px;
    margin-top: 58px;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
  }
}

.companions__slogan {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 58px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 258px;
    margin-top: 40px;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 60px;
  }
}

.companions__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    flex-basis: 630px;
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 630px;
    padding: 0;
  }
}

.companions__item {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
  text-align: center;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    border-radius: 20px;
  }
}

.companions__img-wrapper {
  line-height: 0;
}

.companions__img {
  border-radius: 10px 10px 0 0;

  @media (min-width: $tablet-width) {
    border-radius: 20px 20px 0 0;
  }
}

.companions__content {
  position: relative;
  padding-top: 25px;
  padding-bottom: 16px;

  @media (min-width: $tablet-width) {
    padding-top: 30px;
    padding-bottom: 23px;
  }
}

.companions__flags {
  @include list-reset;
  display: flex;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.companions__flag {
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }
}

.companions__name {
  color: #1d2e5b;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
  }
}

.companions__hashs {
  @include list-reset;
  width: 180px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  @media (min-width: $tablet-width) {
    width: 220px;
  }
}

.companions__hash {
  margin-right: 3px;
  display: inline-block;
  line-height: 19px;
}

.companions__hash-link {
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}

.companions__aspects {
  @include list-reset;
  text-align: center;
  margin-top: 18px;

  @media (min-width: $tablet-width) {
    margin-top: 22px;
  }
}

.companions__aspect {
  opacity: 0.15;
  background-color: #1d2e5b;
  display: inline-block;
  margin-right: 8px;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    opacity: 1;
  }

  &--plane {
    width: 19px;
    height: 21px;
    mask: url("../img/plane.svg") 0 0 no-repeat;
  }

  &--bus {
    width: 17px;
    height: 21px;
    mask: url("../img/bus.svg") 0 0 no-repeat;
  }

  &--bike {
    width: 24px;
    height: 21px;
    mask: url("../img/bike.svg") 0 0 no-repeat;
  }

  &--run {
    width: 20px;
    height: 21px;
    mask: url("../img/run.svg") 0 0 no-repeat;
  }
}

.companions__button {
  margin-top: 20px;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    padding-top: 29px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -80px;
  }
}
