.companions {
  @include section-def;
  background-color: #192144;
  z-index: 7;
  position: relative;

  &::after {
    content: "";
    width: 132px;
    height: 132px;
    border-radius: 20px;
    background-color: #141b3b;
    position: absolute;
    top: 69px;
    left: -19px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 198px;
    padding-bottom: 88px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 193px;
    padding-bottom: 133px;
  }
}

.companions__container {
  position: relative;

  &::after {
    content: "";
    width: 143px;
    height: 143px;
    background: url("../img/smolov-back-desktop@1x.png") 0 0 no-repeat;
    background-size: cover;
    position: absolute;
    right: 0;
    top: -30px;
  }

  @media (min-width: $tablet-width) {
    padding: 0 35px;

    &::after {
      width: 285px;
      height: 285px;
      right: 35px;
      top: -60px;
      background-image: url("../img/rogovaya-back-desktop@1x.png");
    }

    &::before {
      content: "";

      position: absolute;
      top: -60px;
      left: 0;

      width: 213px;
      height: 213px;
      border-radius: 20px;
      background-color: #141b3b;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    &::after {
      top: auto;
      bottom: -54px;
      left: 131px;
      right: auto;
    }
  }
}

.companions__intro {
  padding-left: 25px;
  position: relative;
  z-index: 5;

  @media (min-width: $tablet-width) {
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 47.72%;
    padding: 0;
    padding-left: 68px;
    margin-top: -8px;
  }
}

.companions__desc {
  color: #ffffff;
  margin-top: 20px;
  padding-right: 30px;

  @media (min-width: $tablet-width) {
    width: 470px;
    margin-top: 60px;
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 57px;
    padding-left: 2px;
  }
}

.companions__slogan {
  color: #ffffff;
  font-weight: 700;
  margin-bottom: 58px;
  margin-top: 20px;

  @media (min-width: $tablet-width) {
    width: 260px;
    margin-top: 40px;
    font-size: 21px;
    line-height: 25px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 2px;
  }
}

.companions__slogan br {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.companions__list {
  @include list-reset;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  position: relative;
  z-index: 4;

  &::after {
    content: "";
    width: 71px;
    height: 71px;
    background: url("../img/rogovaya-back-mobile@1x.png") 0 0 no-repeat;
    background-size: cover;
    position: absolute;
    top: -35px;
    left: -35px;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 630px;
    flex-direction: row;
    justify-content: space-between;

    &::after {
      width: 143px;
      height: 143px;
      background-image: url("../img/smolov-back-desktop@1x.png");
      top: -96px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 47.72%;
    flex-grow: 1;
    padding: 0;
    padding-left: 59px;

    &::after {
      top: 0;
      left: -150px;
    }
  }
}

.companions__item {
  border-radius: 10px;
  background-color: #ffffff;
  margin-bottom: 10px;
  text-align: center;
  position: relative;
  z-index: 4;

  &:hover {
    box-shadow: 0 6px 21px rgba(0, 0, 0, 0.08);
  }

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    border-radius: 20px;
  }
}

.companions__img-wrapper {
  line-height: 0;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
  position: relative;

  @media (min-width: $tablet-width) {
    border-radius: 20px 20px 0 0;
  }
}

.companions__img {
  border-radius: 10px 10px 0 0;

  @media (min-width: $tablet-width) {
    border-radius: 20px 20px 0 0;
    width: 285px;
    height: 285px;
  }
}

.companions__lvl {
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 17px;
  left: 17px;

  &::before {
    content: "";
    width: 31px;
    height: 1px;
    background-color: #ffffff;
    opacity: 0.3;
    display: block;
    z-index: 3;
    order: 1;
  }

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    top: 20px;
    left: 20px;
  }

  @media (min-width: $desktop-width) {
    top: 23px;
    left: 23px;
  }
}

.companions__lvl-pie {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 60px;
  height: 60px;
  margin: auto;
  border-radius: 50%;
  transform: rotate(-90deg);
  fill: transparent;
  stroke: $orange-1;
}

.companions__lvl-number {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  z-index: 3;
  color: #ffffff;
}

.companions__lvl-text {
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  color: #ffffff;
  z-index: 3;
  order: 2;
  margin: 0;
  margin-top: 2px;
}

.companions__item:hover .companions__img {
  transform: scale(1.03);
}

.companions__content {
  position: relative;
  padding-top: 25px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding-top: 25px;
    padding-bottom: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 27px;
    padding-bottom: 27px;
  }
}

.companions__flags {
  @include list-reset;
  display: flex;
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
}

.companions__flag {
  @include hint;
  margin-right: 18px;

  &:last-child {
    margin-right: 0;
  }
}

.companions__name {
  color: #1d2e5b;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
  margin-bottom: 14px;
  display: inline-block;

  &:hover {
    opacity: 0.7;
  }

  &:focus {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 21px;
  }
}

.companions__hashs {
  @include list-reset;
  width: 180px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;

  @media (min-width: $tablet-width) {
    width: 222px;
  }
}

.companions__hash {
  margin-right: 4px;
  display: inline-block;
  color: #444444;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}

.companions__aspects {
  @include list-reset;
  margin-top: 18px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    margin-top: 25px;
  }
}

.companions__aspect {
  @include hint;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 13px;

  &:last-child {
    margin-right: 0;
  }
}

.companions__aspect-icon {
  fill: #1d2e5b;
  opacity: 0.15;

  &--active {
    opacity: 1;
  }

  &--plane {
    width: 19px;
    height: 21px;
  }

  &--bus {
    width: 17px;
    height: 21px;
  }

  &--bike {
    width: 24px;
    height: 21px;
  }

  &--run {
    width: 20px;
    height: 21px;
  }
}

.companions__button {
  margin-top: 20px;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-top: 80px;
    padding-top: 29px;
    padding-bottom: 29px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -80px;
    margin-left: 70px;
    padding-right: 95px;
    position: relative;
    z-index: 5;
  }
}
