.directions {
  @include section-def;
  background-color: #edeff6;
  z-index: 8;
  padding-bottom: 30px;
}

.directions__container {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-left: 71px;
  }
}

.directions__title {
  line-height: 24px;
  margin-bottom: 20px;
}

.directions__desc {
  width: 195px;
  margin-bottom: 60px;

  @media (min-width: $tablet-width) {
    width: 337px;
  }
}

.directions__intro {
  @media (min-width: $desktop-width) {
    flex-basis: 680px;
    flex-grow: 1;
  }
}

.directions__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $desktop-width) {
    flex-basis: 560px;
  }
}

.directions__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.directions__img-container {
  margin: 0;
  line-height: 0;
}

.directions__img {
  border-radius: 10px 10px 0 0;
}

.directions__info {
  background-color: #ffffff;
  border-radius: 10px;
  position: relative;
  margin-top: -10px;
  padding: 28px 26px 23px 25px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    margin: 0;
  }
}

.directions__flag {
  position: absolute;
  z-index: 10;
  top: -12px;
  left: 25px;
}

.directions__name {
  color: #161c35;
  font-size: 21px;
  font-weight: 700;
  line-height: 21px;
  margin: 0;
}

.directions__slogan {
  opacity: 0.3;
  color: #444444;
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
}

.directions__number {
  opacity: 0.3;
  color: #444444;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  padding-left: 19px;
  position: relative;
}

.directions__button {
  @media (min-width: $desktop-width) {
    display: inline-block;
  }
}
