.filtred-companions {
  @include list-reset;
}

.filtred-companions__item {
  background-color: #ffffff;
  margin-bottom: 11px;
  padding: 14px 18px 75px;
  position: relative;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 35px;
    padding-bottom: 23px;
    padding-right: 25px;
    margin-bottom: 40px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-right: 40px;
    margin-bottom: 30px;
  }
}

.filtred-companions__head-wrapper {
  width: 100%;
  display: flex;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.filtred-companions__head-img {
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 16px;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;
    margin-right: 33px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
    margin-right: 57px;
  }
}

.filtred-companions__img {
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    width: 190px;
    height: 190px;
    border-radius: 20px;
  }

  @media (min-width: $desktop-width) {
    width: 285px;
    height: 285px;
    border-radius: 20px 0 0 20px;
  }
}

.filtred-companions__head-content {
  flex-grow: 1;

  @media (min-width: $tablet-width) {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    margin-top: -5px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 45px;
    padding-bottom: 45px;
    margin-top: 0;
    position: relative;

    &::after {
      content: "";
      height: 65.6%;
      width: 1px;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(229, 229, 229, 1) 10%, rgba(229, 229, 229, 1) 90%, rgba(255, 255, 255, 0) 100%);
      position: absolute;
      right: -38px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.filtred-companions__name {
  color: #1d2e5b;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin: 0;
  flex-grow: 1;
  flex-basis: calc(100% - 70px - 16px);
  align-self: flex-start;
  position: relative;
  display: inline-block;
  width: 100%;

  &::before {
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #f97676;
    position: absolute;
    top: 10px;
    right: 4px;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
    flex-grow: 0;
    flex-basis: auto;
    padding-right: 30px;

    &::before {
      width: 7px;
      height: 7px;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      right: auto;
      left: -25px;
    }
  }
}

.filtred-companions__name--online {
  &::before {
    background-color: #81e31e;
  }
}

.filtred-companions__surname {
  display: block;

  @media (min-width: $tablet-width) {
    display: inline;
  }
}

.filtred-companions__like-add-number {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-left: -37px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    order: 1;
  }
}

.filtred-companions__item:not(:first-child) .filtred-companions__hashs {
  @media (min-width: $tablet-width) {
    margin-top: 17px;
    margin-bottom: 46px;
  }
}

.filtred-companions__item:nth-child(3) .filtred-companions__hashs {
  @media (min-width: $tablet-width) {
    margin-top: 19px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
  }
}

.filtred-companions__like {
  @include flex-center;
  width: 31px;
  height: 31px;
  background-color: #edeff6;
  border-radius: 50%;
  margin-right: 7px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 5;

  &--active {
    background-color: #f9eaea;
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    height: 50px;
  }
}

.filtred-companions__like-svg {
  width: 13px;
  height: 11px;
  opacity: 0.3;
  fill: #192144;

  &--active {
    fill: #f02323;
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 17px;
  }
}

.filtred-companions__number {
  color: #161c35;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
}

.filtred-companions__button {
  width: 230px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 20px;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: static;
    width: 144px;
    order: -1;
    border-radius: 25px;
    padding: 11px;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
  }
}

.filtred-companions__hashs {
  @include list-reset;
  margin-top: 11px;
  display: flex;
  flex-wrap: wrap;
  width: 175px;
  margin-left: -78px;

  @media (min-width: $tablet-width) {
    margin-left: 0;
    width: 250px;
    margin-top: 20px;
    margin-bottom: 45px;
    padding-left: 3px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 3px;
    margin-top: 17px;
  }
}

.filtred-companions__hash {
  margin-right: 4px;
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    margin-right: 6px;
    font-size: 20px;
    line-height: 24px;
  }
}

.filtred-companions__subtitle {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-top: 12px;
  position: relative;

  &::after {
    content: "";
    width: 270px;
    height: 1px;
    background-color: #edeff6;
    position: absolute;
    left: -18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
  }

  &--level {
    margin-top: 0;

    &::after {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    &::after {
      width: 688px;
      left: -74px;
    }

    &--transport {
      display: none;
    }

    &--level {
      display: none;
    }

    &--country {
      margin-top: 16px;
      margin-left: 39px;
    }
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.filtred-companions__subtitle span {
  padding: 0 10px;
  position: relative;
  z-index: 4;
  background-color: #ffffff;
}

.filtred-companions__countries-container {
  @media (min-width: $tablet-width) {
    order: 1;
    flex-basis: 100%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 237px;
    margin-left: auto;
    padding-top: 49px;
    padding-bottom: 100px;
  }
}

.filtred-companions__item:not(:first-child) .filtred-companions__subtitle {
  @media (min-width: $tablet-width) {
    margin-top: 18px;
  }
}

.filtred-companions__item:nth-child(2) .filtred-companions__countries {
  @media (min-width: $tablet-width) {
    margin-top: 16px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 0;
  }
}

.filtred-companions__countries {
  @include list-reset;
  margin-top: 17px;
  padding-left: 8px;

  @media (min-width: $tablet-width) {
    display: flex;
    margin-top: 18px;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    margin-top: 0;
  }
}

.filtred-companions__country {
  display: flex;
  align-items: center;
  margin-top: 10px;

  @media (min-width: $tablet-width) {
    margin-right: 25px;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 5px;

    &:first-child {
      margin-top: 0;
    }
  }
}

.filtred-companions__flag {
  margin-right: 14px;

  @media (min-width: $tablet-width) {
    width: 35px;
    height: 24px;
    margin-right: 12px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 20px;
  }
}

.filtred-companions__country-name {
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
  }
}

.filtred-companions__transport-lvl {
  flex-grow: 1;
  display: flex;
  margin-top: 5px;

  @media (min-width: $tablet-width) {
    flex-direction: column;
    margin-left: auto;
    flex-grow: 0;
    margin-top: -3px;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    width: 236px;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 45px;
    bottom: 40px;
  }
}

.filtred-companions__item:first-child .filtred-companions__transport-lvl {
  margin-top: 0;
}

.filtred-companions__transports-container {
  flex-grow: 1;
}

.filtred-companions__transports {
  @include list-reset;
  font-size: 0;
  margin-top: 16px;
  padding-left: 8px;
  display: flex;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
    margin-top: 0;
    padding-left: 0;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.filtred-companions__transport {
  @include hint;
  @include flex-center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  line-height: 0s;
  background-color: #edeff6;

  @media (min-width: $tablet-width) {
    background-color: transparent;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.filtred-companions__transport-svg {
  fill: #1d2e5b;
  opacity: 0.15;

  &--plane {
    width: 14px;
    height: 16px;
  }

  &--bus {
    width: 13px;
    height: 16px;
  }

  &--bike {
    width: 19px;
    height: 17px;
  }

  &--run {
    width: 15px;
    height: 17px;
  }

  @media (min-width: $tablet-width) {
    &--plane {
      width: 19px;
      height: 21px;
    }

    &--bus {
      width: 17px;
      height: 21px;
    }

    &--bike {
      width: 24px;
      height: 21px;
    }

    &--run {
      width: 20px;
      height: 21px;
    }
  }
}

.filtred-companions__transport--active .filtred-companions__transport-svg {
  opacity: 1;
}

.filtred-companions__level-container {
  padding-top: 11px;
  margin-right: -5px;

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.filtred-companions__level {
  width: 45px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 50%;
  margin: 0;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  position: relative;

  &::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
    margin-top: 6px;

    &::after {
      content: "";
      display: block;
      width: 31px;
      height: 1px;
      background-color: #e5e5e5;
    }
  }
}

.filtred-companions__level-pie {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 45px;
  height: 45px;
  margin: auto;
  border-radius: 50%;
  transform: rotate(-90deg);
  fill: transparent;
  stroke: $orange-1;

  @media (min-width: $tablet-width) {
    width: 60px;
    height: 60px;
  }
}

.filtred-companions__level-number {
  color: #1d2e5b;
  font-size: 24px;
  font-weight: 700;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    line-height: 24px;
  }
}

.filtred-companions__level-text {
  color: #444444;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  display: none;

  @media (min-width: $tablet-width) {
    display: inline;
    order: 1;
  }
}

.filtred-companions__item:hover {
  box-shadow: 0 6px 21px rgba(0, 0, 0, 0.08);
}

.filtred-companions__item:hover .filtred-companions__img {
  transform: scale(1.1);
}

.filtred-companions__name:hover {
  opacity: 0.7;
}

.filtred-companions__name:focus {
  opacity: 0.3;
}

.filtred-companions__like:hover .filtred-companions__like-svg {
  opacity: 0.5;
}

.filtred-companions__like:focus .filtred-companions__like-svg {
  opacity: 0.1;
}

.filtred-companions__like--active:hover {
  background-color: #f9d8d8;
}

.filtred-companions__like--active:hover .filtred-companions__like-svg {
  opacity: 1;
}

.filtred-companions__like--active:focus {
  background-color: #f9d8d8;
}

.filtred-companions__like--active:focus .filtred-companions__like-svg {
  opacity: 0.3;
}
