.filtr-country {
  border-radius: 0 0 20px 20px;
  background-color: #e2e5f2;
  top: -30px;
  padding-top: 30px;
  margin-bottom: -10px;
  position: relative;

  @media (min-width: $tablet-width) {
    padding-bottom: 13px;
  }

  @media (min-width: $desktop-width) {
    background-color: #edeff6;
    padding-bottom: 0;
  }
}

.filtr-country__container {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 36px 31px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
  }
}

.filtr-country__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 4px;

  @media (min-width: $desktop-width) {
    margin-top: 20px;
    margin-bottom: -20px;
  }
}

.filtr-country__title {
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  padding-left: 27px;
  text-transform: uppercase;
  position: relative;

  &::before {
    content: "";
    width: 15px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url("../img/filter.svg");
  }

  @media (min-width: $tablet-width) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  @media (min-width: $desktop-width) {
    width: auto;
    height: auto;
    position: relative;
    margin: 0;
    padding-left: 44px;
    margin-left: 20px;
    clip: auto;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-right: 35px;

    &::before {
      width: 23px;
      height: 15px;
    }
  }
}

.filtr-country__title-dots {
  display: none;

  @media (min-width: $desktop-width) {
    display: inline;
  }
}

.filtr-country__button {
  border: none;
  padding: 0;
  margin: 0;
  background-color: transparent;
  min-height: 20px;
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    right: 37px;
    top: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 35px;
  }
}

.filtr-country__button-text {
  display: none;

  @media (min-width: $tablet-width) {
    @include font;
    display: block;
    color: #192144;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    margin-right: 20px;
  }
}

.filtr-country__button-icon {
  font-size: 0;
  line-height: 0;
}

.filtr-country__button-icon svg {
  width: 17px;
  height: 3px;
  fill: #192144;

  @media (min-width: $tablet-width) {
    width: 27px;
    height: 5px;
  }
}

.filtr-country__button-closed,
.filtr-country__button-opened {
  display: flex;
  align-items: center;
}

.filtr-country__button-opened {
  display: none;
}

.filtr-country__button--opened .filtr-country__button-closed {
  display: none;
}

.filtr-country__button--opened .filtr-country__button-opened {
  display: flex;
}

.filtr-country__button-opened .filtr-country__button-text {
  margin-right: 60px;
}

.filtr-country__button-opened .filtr-country__button-svg {
  width: 18px;
  height: 18px;
}

.filtr-country__continents {
  @include list-reset;
  padding-left: 26px;
  margin-top: 15px;
  display: none;

  @media (min-width: $tablet-width) {
    display: flex;
    padding-left: 3px;
    margin-bottom: 42px;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 33px;
    left: 339px;
    margin-top: 18px;
  }
}

.filtr-country__continent {
  margin-bottom: 5px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 25px;

    &:last-child {
      margin-right: 0;
    }

    &--asia {
      margin-right: 28px;
    }

    &--america {
      margin-right: 30px;
    }
  }
}

.filtr-country__continent-link {
  opacity: 0.3;
  color: #192144;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  text-transform: uppercase;

  &--active {
    opacity: 1;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.filtr-country__alphabet-button-container {
  display: none;
  padding-bottom: 27px;

  &--opened {
    display: block;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    padding-bottom: 24px;
  }

  @media (min-width: $desktop-width) {
    &--opened {
      margin-bottom: 70px;
    }
  }
}

.filtr-country__alphabet {
  @include list-reset;
  display: flex;
  flex-wrap: wrap;
  width: 224px;
  margin: 0 auto;
  margin-top: 20px;
  position: relative;

  @media (min-width: $tablet-width) {
    width: 400px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  @media (min-width: $desktop-width) {
    width: 1210px;
    margin-left: 35px;
  }
}

.filtr-country__letter {
  flex-basis: 45px;

  &:nth-child(5n) {
    flex-basis: 44px;
  }

  @media (min-width: $tablet-width) {
    flex-basis: auto;
    height: auto;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 20%;
    margin-bottom: 39px;

    &--a,
    &--ye,
    &--m,
    &--s,
    &--ch {
      flex-basis: 254px;
    }

    &--b,
    &--z,
    &--n,
    &--t,
    &--sh {
      flex-basis: 252px;
    }

    &--v,
    &--i,
    &--o,
    &--u,
    &--e {
      flex-basis: 250px;
    }

    &--g,
    &--k,
    &--p,
    &--f,
    &--yu {
      flex-basis: 249px;
    }

    &--d,
    &--l,
    &--r,
    &--x,
    &--ya {
      flex-basis: 204px;
    }

    &--k {
      margin-bottom: 36px;
    }

    &--s,
    &--t,
    &--u,
    &--f,
    &--x {
      margin-top: 30px;
      margin-bottom: 30px;
    }
  }
}

.filtr-country__letter--m button,
.filtr-country__letter--n button,
.filtr-country__letter--o button,
.filtr-country__letter--p button,
.filtr-country__letter--r button {
  @media (min-width: $desktop-width) {
    margin-bottom: 26px;
  }
}

.filtr-country__letter--s button,
.filtr-country__letter--t button,
.filtr-country__letter--u button,
.filtr-country__letter--f button,
.filtr-country__letter--x button {
  @media (min-width: $desktop-width) {
    margin-bottom: 23px;
  }
}

.filtr-country__letter--ch button,
.filtr-country__letter--sh button,
.filtr-country__letter--e button,
.filtr-country__letter--yu button,
.filtr-country__letter--ya button {
  @media (min-width: $desktop-width) {
    margin-bottom: 28px;
  }
}

.filtr-country__letter-link {
  @include font;
  height: 41px;
  border: 1px solid #cbced9;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1.4px;
  width: 100%;
  margin: 0;

  &--active {
    background-color: #1d2e5b;
    border-color: #1d2e5b;
    color: #ffffff;
  }

  @media (min-width: $tablet-width) {
    color: #192144;
    font-size: 60px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    background-color: transparent;
    justify-content: flex-start;
    border: none;
    width: 78px;
    height: 83px;
    padding: 0;
    opacity: 0.2;

    &--active {
      opacity: 1;
    }
  }

  @media (min-width: $desktop-width) {
    opacity: 1;
  }
}

.filtr-country__letter-countries {
  @include list-reset;
  display: none;

  &--active {
    display: block;
    position: absolute;
    z-index: 9;
    bottom: -254px;
    left: 4px;
  }

  @media (min-width: $tablet-width) {
    margin: 0;
    width: 155px;
    margin-right: 0;

    &--active {
      top: 7px;
      left: 447px;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 18px;
    width: 100%;
    display: block;
    position: static;
  }
}

.filtr-country__letter-country {
  @media (min-width: $tablet-width) {
    font-size: 0;
    line-height: 0;
  }

  @media (min-width: $desktop-width) {
    width: 100%;
  }
}

.filtr-country__letter-countries a {
  color: #444444;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
  }
}

.filtr-country__close-button {
  border: none;
  display: block;
  width: 100%;
  padding: 6px 0 6px 24px;
  border-radius: 20px;
  background-color: #d6daed;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 29.45px;
  text-transform: uppercase;
  font-family: "Blogger Sans", "Aria", sans-serif;
  margin-top: 283px;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin-top: 56px;
    display: flex;
    align-items: center;
    padding: 35px;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 27px;
  }
}

.filtr-country__close-icon {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 18px;
    height: 18px;
    fill: #192144;
    margin-right: 20px;
  }
}

.filtr-country__body {
  display: none;

  &--opened {
    display: block;
  }

  @media (min-width: $tablet-width) {
    &--opened {
      display: flex;
      flex-wrap: wrap;
      padding-bottom: 0;
    }
  }

  @media (min-width: $desktop-width) {
    margin-top: 40px;
  }
}

.filtr-country__body--opened .filtr-country__continents {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}
