.guide-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 33px;
  display: flex;
  flex-direction: column;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    z-index: 6;
  }
}

.guide-list__item {
  color: #161c35;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  padding: 20px 21px 44px 25px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  position: relative;
  display: flex;
  align-content: flex-start;
  justify-content: space-between;

  &:last-child {
    padding: 20px 21px 23px 25px;
    border-radius: 10px;
  }

  &--first {
    background-color: $orange-1;
  }

  &--second {
    background-color: $orange-2;
  }

  &--third {
    background-color: $yellow-2;
  }

  &--fourth {
    background-color: $yellow-1;
  }

  &:not(:first-child) {
    margin-top: -20px;
  }

  @media (min-width: $tablet-width) {
    flex-basis: 50%;
    border-radius: 0;
    flex-direction: column;
    padding: 27px 21px 25px 32px;

    &:nth-child(odd) {
      flex-basis: calc(50% + 10px);
    }

    &:nth-child(even) {
      margin-left: -10px;
    }

    &:not(:first-child) {
      margin-top: 0;
    }

    &--first {
      border-radius: 10px 0 0 0;
    }

    &--second {
      border-radius: 10px 10px 0 0;
    }

    &--third {
      border-radius: 0 0 0 10px;
    }

    &:last-child {
      border-radius: 0 0 10px 10px;
    }

    &:last-child,
    &:nth-last-child(2) {
      padding: 27px 21px 23px 30px;
    }
  }

  @media (min-width: $desktop-width) {
    border-radius: 20px 0 0 20px;
    flex-direction: row;
    align-items: baseline;
    padding-top: 25px;
    padding-bottom: 31px;
    padding-right: 55px;

    &:not(:last-child) {
      flex-basis: calc(345px + 20px);
    }

    &:first-child {
      flex-basis: 335px;
    }

    &:last-child {
      flex-basis: 315px;
      border-radius: 20px;
      padding-right: 33px;
    }

    &:not(:first-child) {
      margin-left: -20px;
    }

    &:nth-last-child(2) {
      padding-right: 55px;
    }
  }
}

.guide-list__text {
  width: 150px;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 70%;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
  }
}

.guide-list__item--third .guide-list__text {
  width: 140px;

  @media (min-width: $tablet-width) {
    width: 70%;
  }

  @media (min-width: $tablet-width) {
    width: 190px;
  }
}

.guide-list__number {
  color: #ffffff;
  margin: 0;

  @media (min-width: $tablet-width) {
    margin-top: 10px;
    font-size: 30px;
    font-weight: 700;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
    font-size: 24px;
  }
}
