.intro {
  padding-top: 18px;
  background: #161c36 url("../img/globe-back-mobile@1x.jpg") center top no-repeat;
  padding-bottom: 35px;
  position: relative;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    // background-image: url("../img/globe-back-mobile@2x.jpg");
  }

  @media (min-width: $tablet-width) {
    background: #182044 url("../img/globe-back-tablet@1x.jpg") center 292px no-repeat;
    padding-top: 70px;
    padding-bottom: 96px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }
  }

  @media (min-width: $desktop-width) {
    background: #161c34 url("../img/globe-back-desktop@1x.jpg") center bottom no-repeat;
    padding-top: 103px;
    padding-bottom: 123px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }
  }
}

.intro__container {
  position: relative;
  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    z-index: 1;

    @media (min-width: $tablet-width) {
      width: 372px;
      height: 451px;
      right: 10.45%;
      top: 245px;
      background: url("../img/traveller-illustration-tablet@1x.png") center center no-repeat;
      background-size: cover;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/traveller-illustration-tablet@2x.png");
      }
    }

    @media (min-width: $desktop-width) {
      width: 431px;
      height: 640px;
      top: auto;
      bottom: -123px;
      right: 26.125%;
      background: url("../img/traveller-illustration-desktop@1x.png") center bottom no-repeat;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/traveller-illustration-desktop@2x.png");
      }
    }
  }
}

.intro__info {
  @media (min-width: $tablet-width) {
    margin-bottom: 211px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 100px;
  }
}

.intro__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  margin: 0;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    font-weight: 700;
    line-height: 70px;
    width: 400px;
    margin: 0 auto;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
    padding-left: 65px;
    width: 460px;
    margin: 0;
  }
}

.intro__links {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.intro__blockquote {
  position: relative;
  top: -20px;
  z-index: 3;
  padding-left: 25px;
  padding-top: 45px;
  background-color: #161c35;
  color: #ffffff;
  margin-bottom: -20px;

  @media (min-width: $tablet-width) {
    background: transparent;
    padding-left: 35px;
    padding-top: 0;
    margin-top: 108px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    width: 285px;
    margin-top: 0;
  }
}

.intro__quote {
  margin: 0;
  color: #ffffff;
  font-size: 16px;
  font-weight: 300;
  line-height: 22px;
  width: 160px;

  @media (min-width: $tablet-width) {
    font-size: 28px;
    line-height: 33px;
    width: 260px;
  }
}

.intro__author {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  width: 160px;
  margin-top: 20px;

  br {
    display: none;
  }

  @media (min-width: $tablet-width) {
    font-size: 21px;
    font-weight: 700;
    line-height: 25px;
    width: 250px;
    margin-top: 45px;

    br {
      display: block;
    }
  }
}
