.links-list {
  padding-top: 245px;
  width: 100%;
  background: url("../img/traveller-illustration-mobile@1x.png") 55px 15px no-repeat;
  position: relative;
  z-index: 9;

  @media (min-width: $tablet-width) {
    display: none;
  }
}


.links-list__link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;

  &--tel {
    background-color: $orange-1;
  }

  &--mail {
    background-color: $yellow-2;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &--tel::before {
    width: 18px;
    height: 18px;
    background: url("../img/topmenu-phone.svg") 0 0 no-repeat;
  }

  &--mail::before {
    width: 18px;
    height: 14px;
    background: url("../img/topmenu-mail.svg") 0 0 no-repeat;
  }

  &--login {
    color: #161c35;
    width: 100%;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
  }

  &--login::before {
    display: none;
  }
}

.links-list__item--login {
  background-color: $yellow-1;
  flex-grow: 1;
  text-transform: uppercase;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  border-radius: 20px;
}
