.main-nav {
  flex-grow: 1;
  flex-basis: 100%;
  background-color: #ffffff;
  padding-top: 60px;
  padding-bottom: 35px;

  @media (min-width: $tablet-width) {
    padding-left: 57px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
    background-color: transparent;
    padding: 0;
  }
}

.main-nav__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    width: 100%;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}
