.main-nav {
  flex-grow: 1;
  flex-basis: 100%;
  background-color: #ffffff;
  padding-top: 42px;
  padding-bottom: 35px;
  display: none;

  @media (min-width: $tablet-width) {
    padding-top: 90px;
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    flex-basis: auto;
    display: flex;
    background-color: transparent;
    padding: 0;
  }
}

.main-nav__wrapper {
  @media (min-width: $tablet-width) {
    padding-left: 57px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 0;
  }
}

.main-nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.main-nav--opened {
  display: block;
  position: absolute;
  background-color: #ffffff;
  z-index: 9;
  left: 0;
  top: 73px;
  min-width: 100%;
  max-width: 100%;

  @media (min-width: $tablet-width) {
    top: 116px;
  }
}

.main-nav--opened .main-nav__wrapper {
  width: 270px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 688px;
  }

  @media (min-width: $desktop-width) {
    width: 1320px;
  }
}
