.filtr-checks {
  @include list-reset;
  margin-top: 5px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.filtr-checks__item {
  margin-bottom: 7px;

  @media (min-width: $tablet-width) {
    flex-basis: 169px;
  }
}

.filtr-checks__input:checked ~ .filtr-checks__checkbox::before {
  display: inline;
}

.filtr-checks__input:focus ~ .filtr-checks__checkbox {
  outline: -webkit-focus-ring-color auto 1px;
}

.filtr-checks__checkbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 4px;
  background-color: #ffffff;
  vertical-align: middle;
  font-size: 0;
  margin-right: 3px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9px;
    height: 9px;
    background: url("../img/tick.svg") 0 0 no-repeat;
    display: none;
  }

  @media (min-width: $tablet-width) {
    width: 24px;
    height: 24px;
    margin-right: 8px;

    &::before {
      width: 12px;
      height: 12px;
    }
  }
}

.filtr-checks__label {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
