.filtr-checks {
  @include list-reset;
  margin-top: 5px;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }

  @media (min-width: $desktop-width) {
    display: block;
  }
}

.filtr-checks__item {
  margin-bottom: 7px;
}

.filtr-checks__checkbox {
  display: inline-block;
  width: 17px;
  height: 17px;
  border-radius: 4px;
  background-color: #ffffff;
  vertical-align: middle;
  font-size: 0;
  margin-right: 3px;
}

.filtr-checks__label {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
  }
}
