.my-plans {
  border-radius: 30px 30px 0 0;
  background-color: #dfe3f0;
  padding: 7px 0 58px;
  margin-top: 33px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
    padding-bottom: 138px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 63px;
    padding-bottom: 125px;
  }
}

.my-plans__container {
  @media (min-width: $tablet-width) {
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 64px;
    padding-right: 0;
  }
}

.my-plans__list {
  @include list-reset;
  margin-top: 30px;

  @media (min-width: $tablet-width) {
    margin-top: 45px;
  }
}

.my-plans__item {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 8px 23px 20px 23px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    padding-top: 8px;

    &:nth-child(2) {
      padding-top: 10px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    padding: 20px 40px;
    padding-bottom: 25px;
    padding-top: 22px;
    margin-bottom: 15px;

    &:nth-child(2) {
      padding-top: 22px;
    }
  }
}

.my-plans__title {
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 20px;
  display: flex;

  @media (min-width: $tablet-width) {
    padding: 0 35px;
    padding-right: 28px;
    font-size: 24px;
    font-weight: 700;
    line-height: 50px;
    margin-top: 16px;
    margin-bottom: 22px;
    flex-direction: row-reverse;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    padding: 0;
    margin: 0;
  }
}

.my-plans__number {
  letter-spacing: 1.6px;

  @media (min-width: $tablet-width) {
    margin-left: auto;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    position: static;
    font-weight: 500;
    margin-right: 35px;
  }
}

.my-plans__info {
  color: #1d2e5b;
  font-size: 14px;
  font-weight: 500;
  line-height: 14px;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    padding: 18px 33px;
    border-top: 1px solid #eff0f4;
    font-size: 20px;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 590px;
    margin-left: auto;
    padding: 0;
    border: none;
  }
}

.my-plans__companions-number {
  margin: 0;
  margin-bottom: 5px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.my-plans__day-limit {
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    margin-left: 45px;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    margin-left: 35px;
  }
}

.my-plans__item:nth-child(2) .my-plans__day-limit {
  @media (min-width: $tablet-width) {
    margin-left: 62px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 50px;
  }
}

.my-plans__edit {
  opacity: 0.3;
  color: #000000;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  text-transform: uppercase;
  letter-spacing: 1.4px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
  }
}
