.page-header {
  background-color: #161c36;
  padding-top: 27px;
  padding-bottom: 27px;
  position: relative;

  &--small {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  &--scroll {
    background-color: #ffffff;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
  }

  @media (min-width: $tablet-width) {
    background: #182044;
    padding-top: 39px;

    &--small {
      background-color: #161c35;
    }

    &--scroll {
      background-color: #ffffff;
      padding-top: 39px;
      padding-bottom: 39px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 47px;
    background: #161c34;
    display: flex;
    align-items: center;

    &--scroll {
      background-color: #ffffff;
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }

  &--opened {
    background-color: #ffffff;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    justify-content: flex-start;
  }

  @media (min-width: $desktop-width) {
    justify-content: space-between;
  }
}

.page-header--opened .page-header__wrapper {
  align-items: flex-start;

  @media (min-width: $tablet-width) {
    align-items: center;
  }
}

.page-header__logo {
  line-height: 0;
  font-size: 0;
}

.page-header__logo-img {
  @media (min-width: $tablet-width) {
    width: 166px;
    height: 42px;
  }

  @media (min-width: $desktop-width) {
    width: 200px;
    height: 52px;
  }
}

.page-header__toggle {
  padding: 0;
  border: none;
  width: 25px;
  height: 11px;
  font-size: 0;
  line-height: 0;
  letter-spacing: 0;
  background-color: transparent;
  position: relative;

  &::before,
  &::after {
    content: "";
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #cccccc;
    position: absolute;
    left: 0;
    transition: 0.5s ease all;
  }

  &::before {
    top: 0;
  }

  &::after {
    bottom: 0;
  }

  @media (min-width: $tablet-width) {
    margin-left: 166px;
    margin-right: auto;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }

  &--opened {
    width: 19px;
    height: 19px;
    position: relative;

    &::before,
    &::after {
      background-color: #cccccc;
      top: 50%;
      transform: translateY(-50%);
      border-radius: 0;
      left: -2px;
      width: 24px;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }

    @media (min-width: $tablet-width) {
      width: 18px;
      height: 18px;
    }
  }
}

.page-header__login {
  padding: 10px 30px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffd74b;
  color: #161c35;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}

.page-header--no-js {
  background-color: #ffffff;
}

.page-header--no-js .page-header__toggle {
  display: none;
}

.page-header--no-js .main-nav {
  display: block;
}

.page-header--small .main-nav--opened {
  top: 57px;

  @media (min-width: $tablet-width) {
    top: 108px;
  }
}

.page-header__logo-img--opened {
  display: none;
}

.page-header--opened .page-header__logo-img--opened,
.page-header--scroll .page-header__logo-img--opened,
.page-header--no-js .page-header__logo-img--opened {
  display: block;
}

.page-header--opened .page-header__logo-img--closed,
.page-header--scroll .page-header__logo-img--closed,
.page-header--no-js .page-header__logo-img--closed {
  display: none;
}

.page-header--scroll .site-list__link {
  color: #192144;
}

.page-header--scroll .site-list::after {
  background-color: #192144;
}
