.page-header {
  background-color: #161c36;
  padding-top: 27px;
  position: relative;

  @media (min-width: $tablet-width) {
    background: #182044;
  }

  @media (min-width: $desktop-width) {
    background: #161c34;
    display: flex;
    align-items: center;
  }

  &--white {
    background-color: #ffffff;
  }
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.page-header__toggle {
  padding: 0;
  border: none;
  width: 25px;
  height: 11px;
  background-color: transparent;
  position: relative;

  @media (min-width: $desktop-width) {
    display: none;
  }

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 25px;
    height: 3px;
    border-radius: 1.5px;
    background-color: #ffffff;
  }

  &::before {
    top: 0;
    left: 0;
  }

  &::after {
    bottom: 0;
    left: 0;
  }

  &--opened {
    position: 1px;: relative;
    height: 18px;
    width: 18px;

    &::before {
      @include center;
      left: 0;
      transform: rotate(45deg);
    }

    &::after {
      @include center;
      left: 0;
      transform: rotate(-45deg);
    }
  }
}

.page-header__login {
  padding: 10px 20px;
  height: 50px;
  border-radius: 25px;
  background-color: #ffd74b;
  color: #161c35;
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
  }

  @media (min-width: $desktop-width) {
    display: none;
  }
}
