.page-title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  border-radius: 0 0 20px 20px;
  background-color: #161c35;
  margin: 0;
  padding-top: 50px;
  position: relative;
  z-index: 2;
}

.page-title__container {
  position: relative;
  padding-bottom: 12px;
  display: block;

  &::before {
    content: "";
    width: 173px;
    height: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateY(50%);
    border-radius: 2px;
    background-color: #ff8d30;
  }
}
