.page-footer {
  position: relative;
  z-index: 20;
  padding-top: 38px;
  border-radius: 30px 30px 0 0;
  background-color: #ffffff;
}

.page-footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.page-footer__logo {
  display: block;
  text-align: center;
  line-height: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.page-footer__social-list {
  @include list-reset;
  display: flex;
  justify-content: center;
  padding-bottom: 37px;
  border-bottom: 1px solid rgba(#000000, 0.05);

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
  }
}

.page-footer__social-link {
  display: block;
  width: 45px;
  height: 45px;
  background-color: $yellow-1;
  border-radius: 50%;
}

.page-footer__copy {
  color: #444444;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-footer__copy-text {
  @media (min-width: $tablet-width) {
    margin-right: 25px;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
  }
}
