.profile {
  margin-top: 22px;
  position: relative;

  @media (min-width: $tablet-width) {
    margin-top: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 73px;
  }
}

.profile__container {
  position: relative;

  @media (min-width: $tablet-width) {
    padding: 0 35px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-left: 64px;
  }
}

.profile__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.profile__level {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    width: 49px;
    height: 2px;
    background-color: #cbced9;
    order: 2;
    position: relative;
    z-index: 1;
  }

  @media (min-width: $tablet-width) {
    order: -2;
    margin: 0;
    width: 94px;
    height: 94px;
  }

  @media (min-width: $desktop-width) {
    order: 0;
    position: absolute;
    top: -218px;
    right: 330px;
    z-index: 34;
  }
}

.profile__level-pie {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;
  width: 100px;
  height: 100px;
  margin: auto;
  border-radius: 50%;
  transform: rotate(-90deg);
  fill: transparent;
  stroke: $orange-1;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
  }
}

.profile__level-number {
  color: #161c35;
  font-size: 38px;
  font-weight: 700;
  line-height: 38px;
  order: 1;
  position: relative;
  z-index: 1;
  margin-top: 19px;

  @media (min-width: $desktop-width) {
    order: 0;
    color: #ffffff;
    margin-top: 16px;
  }
}

.profile__level-text {
  color: #444444;
  font-size: 18px;
  font-weight: 400;
  line-height: 22.17px;
  order: 3;
  position: relative;
  z-index: 1;
  margin-top: 2px;

  @media (min-width: $desktop-width) {
    color: #ffffff;
  }
}

.profile__img {
  font-size: 0;
  line-height: 0;
  margin-right: 20px;

  @media (min-width: $tablet-width) {
    margin: 0;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: -260px;
    right: 95px;
    z-index: 33;
  }
}

.profile__img img {
  border-radius: 50%;
  width: 100px;
  height: 100px;

  @media (min-width: $tablet-width) {
    width: 94px;
    height: 94px;
    border-radius: 7px;
  }

  @media (min-width: $desktop-width) {
    border-radius: 10px 10px 0 0;
    width: 190px;
    height: 190px;
  }
}

.profile__set-img {
  @include font;
  display: block;
  width: 100%;
  flex-grow: 1;
  text-align: center;
  margin-top: 20px;
  background-color: #dfe3f0;
  border-radius: 20px;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  padding: 5px;
  margin-bottom: 24px;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    padding: 21px;
    border-radius: 10px;
    margin-top: 52px;
    margin-bottom: 52px;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    display: inline-block;
    width: 190px;
    border-radius: 0 0 10px 10px;
    position: absolute;
    top: -73px;
    right: 95px;
    z-index: 33;
    margin: 0;
    padding: 14px;
  }
}

.profile__set-img:hover {
  background-color: #d1d7e9;
}

.profile__set-img:focus-within {
  background-color: #d1d7e9;
}

.profile__set-img:focus-within .profile__set-img-text {
  opacity: 0.3;
}

.profile__set-img-set {
  @media (min-width: $desktop-width) {
    display: none;
  }
}
