.site-list {
  text-align: center;

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    margin-left: 145px;
  }
}

.site-list__link {
  color: #192144;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    font-weight: 500;
    line-height: 71.01px;
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 36px;
  }
}
