.site-list {
  flex-grow: 1;
  text-align: center;
  position: relative;

  .site-list::after {
    display: none;
  }

  @media (min-width: $tablet-width) {
    text-align: left;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    flex-direction: row;
    padding-left: 145px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 40px;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 2px;
      background-color: #ffffff;
    }
  }
}

.site-list__item {
  position: relative;
  overflow: hidden;
}

.site-list__link {
  color: #192144;
  font-size: 30px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
  display: inline-block;
  position: relative;
  transition: 0.15s ease all;

  &::before {
    content: attr(data-hover);
    position: absolute;
    top: 100%;
    left: 0;
    color: #ffd74b;
    font-size: 30px;
    font-weight: 500;
    line-height: 36px;
    transform: translate3d(0, 0, 0);
  }

  @media (min-width: $tablet-width) {
    font-size: 60px;
    font-weight: 500;
    line-height: 71.01px;

    &::before {
      font: inherit;
    }
  }

  @media (min-width: $desktop-width) {
    color: #ffffff;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    margin-right: 33px;
  }
}

.site-list__link[href]:hover {
  transform: translateY(-100%);
}

.site-list__link[href]:focus {
  opacity: 0.3;
  color: $yellow-1;
}
