.steps-list {
  @include list-reset;
  margin-top: 30px;
  padding-bottom: 72px;

  @media (min-width: $tablet-width) {
    margin-top: 52px;
    padding-bottom: 123px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 133px;
  }
}

.steps-list__item {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 8px 25px 22px 25px;
  margin-bottom: 10px;

  &:nth-child(2) {
    padding-bottom: 12px;
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 12px;
  }

  @media (min-width: $tablet-width) {
    padding: 30px 43px 56px 43px;
    border-radius: 30px;
    margin-bottom: 40px;

    &:nth-child(2) {
      padding-bottom: 55px;
      margin-bottom: 50px;
    }

    &:last-child {
      padding-bottom: 53px;
    }
  }

  @media (min-width: $desktop-width) {
    padding: 80px 160px 105px 160px;
    border-radius: 60px;
    margin-bottom: 44px;

    &:nth-child(2) {
      padding-bottom: 105px;
      margin-bottom: 47px;
    }

    &:last-child {
      padding-bottom: 106px;
    }
  }
}

.steps-list__item:last-child .steps-list__desc {
  margin-bottom: 19px;
}

.steps-list__item:nth-child(2) .steps-list__desc {
  @media (min-width: $tablet-width) {
    padding-right: 140px;
    margin-bottom: 36px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 55px;
  }
}

.steps-list__header {
  @media (min-width: $desktop-width) {
    display: flex;
    flex-shrink: 0;
    align-items: baseline;
  }
}

.steps-list__title {
  color: #1d2e5b;
  font-size: 20px;
  font-weight: 700;
  line-height: 20px;
  margin-top: 15px;
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: -0.25px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 16px;
  }
}

.steps-list__title br {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.steps-list__desc {
  font-weight: 400;
  color: #444444;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-right: 20px;
    font-size: 20px;
    line-height: 24px;
    margin-top: 36px;
    margin-bottom: 38px;
  }

  @media (min-width: $desktop-width) {
    width: 580px;
    padding-right: 0;
    margin-bottom: 56px;
  }
}

.steps-list__titles-list {
  @include list-reset;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    width: 228px;
    margin-left: auto;
  }
}

.steps-list__titles-item {
  color: #000000;
  font-size: 20px;
  font-weight: 400;
  line-height: 13.78px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.6;
  margin-bottom: 30px;
  position: relative;
  padding-left: 41px;

  &--active {
    opacity: 1;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #1d2e5b;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
  }
}

.steps-list__routes {
  position: relative;

  @media (min-width: $tablet-width) {
    padding-top: 15px;
    border-top: 1px solid #d6d9e6;

    &::before {
      content: "";
      position: absolute;
      width: 1px;
      height: 329px;
      top: 0;
      left: 395px;
      background-color: #d6d9e6;
    }
  }

  @media (min-width: $desktop-width) {
    &::before {
      left: 774px;
      height: 113.9%;
    }
  }
}

.steps-list__inputs {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    border-top: 1px solid #d6d9e6;
    padding-top: 29px;
  }
}

.steps-list__input-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;

  &--duration {
    margin-bottom: 21px;
  }

  @media (min-width: $tablet-width) {
    padding-top: 23px;
    border-top: 1px solid #eff0f4;

    &--companion {
      order: 1;
      margin-bottom: 25px;
    }

    &--duration {
      order: 3;
      margin-bottom: 25px;
    }
  }

  @media (min-width: $desktop-width) {
    flex-basis: 50%;
    flex-wrap: nowrap;
    border-top: none;
    justify-content: flex-start;
    margin-bottom: 0;
    padding: 0;

    &--companion {
      margin-bottom: 14px;
    }
  }
}

.steps-list__label {
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.6px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 219px;
  }
}

.steps-list__span {
  opacity: 0.3;
  color: #1d2e5b;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-transform: uppercase;
  letter-spacing: 1.6px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }

  @media (min-width: $desktop-width) {
    opacity: 1;
    order: 1;
  }
}

.steps-list__number {
  position: relative;
  margin-top: 9px;
  flex-basis: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 27px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 182px;
    margin-top: 0;
    margin-right: 36px;
  }
}

.steps-list__input-button {
  position: absolute;
  font-size: 0;
  line-height: 0;
  border: 0;
  width: 14px;
  height: 14px;
  padding: 0;
  background-color: transparent;
  top: 50%;
  transform: translateY(-50%);

  @media (min-width: $tablet-width) {
    width: 20px;
    height: 20px;
  }
}

.steps-list__input-button--min {
  left: 14px;

  @media (min-width: $tablet-width) {
    left: 25px;
  }
}

.steps-list__input-button--min::before {
  @include center;
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #cfd0d0;
}

.steps-list__input-button--max {
  right: 14px;

  @media (min-width: $tablet-width) {
    right: 20px;
  }
}

.steps-list__input-button--max::before {
  @include center;
  content: "";
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: #cfd0d0;
}

.steps-list__input-button--max::after {
  @include center;
  content: "";
  position: absolute;
  display: inline-block;
  width: 2px;
  height: 100%;
  background-color: #cfd0d0;
}

.steps-list__input {
  @include font;
  width: 100%;
  height: 43px;
  border-radius: 4px;
  border: 1px solid #cbced9;
  background-color: #ffffff;
  text-align: center;
  color: #1d2e5b;
  font-size: 15px;
  font-weight: 500;
  line-height: 13.37px;
  text-transform: uppercase;
  letter-spacing: 2px;

  @media (min-width: $tablet-width) {
    height: 70px;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
  }
}

.steps-list__children {
  color: #444444;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;

  @media (min-width: $tablet-width) {
    order: 2;
    font-size: 20px;
    font-weight: 500;
    line-height: 18px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 25px;
  }

  @media (min-width: $desktop-width) {
    margin-left: auto;
    margin-bottom: 14px;
  }
}

.steps-list__styled-checkbox {
  width: 26px;
  height: 26px;
  border-radius: 4px;
  border: 1px solid #cbced9;
  background-color: #ffffff;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 0;
  margin-right: 9px;
  position: relative;

  &::before {
    content: "";

    width: 12px;
    height: 12px;
    display: none;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background: url("../img/tick.svg") 0 0 no-repeat;
  }

  @media (min-width: $tablet-width) {
    width: 36px;
    height: 36px;
    margin-right: 15px;
  }
}

.steps-list__buttons {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 47px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 55px;
    padding-right: 5px;
  }
}

.steps-list__item:last-child .steps-list__buttons {
  @media (min-width: $tablet-width) {
    margin-top: 43px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 50px;
  }
}

.steps-list__button {
  @include font;
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 4px;
  border-radius: 20px;
  display: block;
  width: 100%;

  &::before {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding: 28px 3px 28px 34px;
    font-size: 24px;
    line-height: 24px;
    text-align: left;
    display: inline-block;
    text-transform: initial;
    width: 285px;

    &::before {
      content: "";

      width: 10px;
      height: 14px;
      display: block;
      background: url("../img/triangle-arrow-right.svg") 0 0 no-repeat;

      position: absolute;
      right: 35px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  @media (min-width: $desktop-width) {
    padding: 28px 0 28px 31px;

    &::before {
      right: 38px;
    }
  }
}

.steps-list__button-back {
  color: #161c35;
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  display: block;
  text-align: center;
  margin-top: 12px;

  @media (min-width: $tablet-width) {
    margin-top: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 24px;
    text-transform: initial;
    padding-left: 33px;
    position: relative;

    &::before {
      content: "";
      width: 10px;
      height: 14px;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background: url("../img/triangle-arrow-left.svg") 0 0 no-repeat;
    }
  }
}


.steps-list__number:hover .steps-list__input {
  border: 1px solid #959bb2;
}

.steps-list__number:hover .steps-list__input-button::after,
.steps-list__number:hover .steps-list__input-button::before {
  background-color: #959bb2;
}

.steps-list__number:focus-within .steps-list__input {
  border: 1px solid #161c35;
}

.steps-list__number:focus-within .steps-list__input-button::after,
.steps-list__number:focus-within .steps-list__input-button::before {
  border: 1px solid #161c35;
}

.steps-list__input-button:focus {
  opacity: 0.1;
}

.steps-list__tick-checkbox:checked ~ .steps-list__styled-checkbox::before {
  display: block;
}

.steps-list__styled-checkbox:hover {
  border: 1px solid #959bb2;
}

.steps-list__tick-checkbox:focus ~ .steps-list__styled-checkbox {
  outline: -webkit-focus-ring-color auto 1px;
}

.steps-list__tick-checkbox:active ~ .steps-list__styled-checkbox {
  background-color: #e2e5f1;
}

.steps-list__tick-checkbox:active ~ .steps-list__styled-checkbox::before {
  opacity: 0.3;
}

.steps-list__button-back:hover {
  opacity: 0.7;
}

.steps-list__button-back:focus {
  opacity: 0.3;
}
