.transport-types {
  @include list-reset;
  display: flex;
  margin-top: 5px;
  margin-bottom: 21px;

  @media (min-width: $tablet-width) {
    margin-bottom: 5px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 15px;
    margin-top: 0;
  }
}

.transport-types__checkbox {
  @include flex-center;
  @include hint;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    width: 43px;
    height: 43px;
  }
}

.transport-types__svg {
  fill: #1d2e5b;
  opacity: 0.15;

  &--plane {
    width: 14px;
    height: 16px;
  }

  &--bus {
    width: 13px;
    height: 16px;
  }

  &--bike {
    width: 19px;
    height: 17px;
  }

  &--run {
    width: 15px;
    height: 17px;
  }

  @media (min-width: $tablet-width) {
    &--plane {
      width: 19px;
      height: 21px;
    }

    &--bus {
      width: 17px;
      height: 21px;
    }

    &--bike {
      width: 24px;
      height: 21px;
    }

    &--run {
      width: 20px;
      height: 21px;
    }
  }
}

.transport-types__input:checked ~ .transport-types__checkbox .transport-types__svg {
  opacity: 1;
}

.transport-types__input:checked ~ .transport-types__checkbox:hover .transport-types__svg {
  opacity: 0.7;
}

.transport-types__input:hover ~ .transport-types__checkbox {
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
}

.transport-types__checkbox:hover .transport-types__svg {
  opacity: 0.3;
}

.transport-types__input:focus ~ .transport-types__checkbox {
  outline: -webkit-focus-ring-color auto 1px;
}

.transport-types__input:active ~ .transport-types__checkbox {
  background-color: #e2e5f1;
}

.transport-types__input:checked:active ~ .transport-types__checkbox .transport-types__svg {
  opacity: 0.3;
}

.transport-types__input:active ~ .transport-types__checkbox .transport-types__svg {
  opacity: 0.1;
}
